<%= form_with(model: result.persisted? ? result : [@match, result], class: "contents") do |form| %>
<% if result.errors.any? %>
<div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
    <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

    <ul class="list-disc ml-6">
        <% result.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="my-5">
    <div class="mb-4">
        <strong class="block font-medium mb-1">Match:</strong>
        <%= @match.first_team.name %> vs <%= @match.second_team.name %>
    </div>
</div>

<div class="my-5">
    <%= form.label :first_team_score, "#{@match.first_team.name} - Score" %>
    <%= form.number_field :first_team_score, class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full" %>
</div>

<div class="my-5">
    <%= form.label :second_team_score, "#{@match.second_team.name} - Score" %>
    <%= form.number_field :second_team_score, class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full" %>
</div>

<div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
</div>
<% end %>