<div id="<%= dom_id match %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">First team:</strong>
    <%= match.first_team_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Second team:</strong>
    <%= match.second_team_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Date:</strong>
    <%= match.date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= match.status %>
  </div>
</div>
